  .mainContainer{
background-color: #f3f4ef;
display: flex;
min-height: 100vh;
box-sizing: border-box;
}
.chatContainer{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}
.logoContainer{
    /* text-align: center ;  */
    margin: 20px 30px;
}
.sideBar{
    width: 112px;
    background-image:url('../../assets//images/verticalBanner.png');
    background-size:auto;
}
.chatTextContainer {
    min-height: calc(60vh);
    padding: 10px;
    margin-bottom:  20px;
    overflow-y:  auto;
    padding-left:  30px;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
.chatInputContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    bottom: 0;
    position: fixed;
    width: 60vw;
    margin-bottom: 40px;
}
.inputContainer {
    margin-right : 10px;
    margin-left : 5px;
    padding-top:  15px;
    padding-bottom : 15px;
    margin-top:  50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:none;
    border-radius: 15px;
    width: 90%;
    padding-left: 10px;
}
.quickResponseContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
    position: fixed;
    bottom: 0;
    z-index: 4;
    margin-left: 25px;
    /* margin-top: 50px; */
    cursor: pointer;
 
}
 
.quickResponseItem{
        cursor: pointer;
        margin-left: 10px;
        padding: 10px;
        background-color: lightgrey;
        border-radius: 5px;
    }
.sendButtonStyle{
    background-color: #78006d;
    color: #fff;
    padding: 15px 30px;
    border: none;
    margin-top:  50px;
    border-radius: 15px;
 
}
.deloitteLogoStyle{
    width: 170px; height: 45px; padding-bottom: 15px;
 
}
 
.logoStyle{
    width: 150px ; height: 150px; margin-right: 20px; margin-bottom: -35px;
}
 
.imagesContainer{
    display: grid;
flex: 0.7;
grid-template-columns: repeat(2, 1fr);
 
justify-items: center;
 
align-content: flex-start;
 
}
.responseContainer {
    flex: 1;
    margin-right: 2pc;
}
.userInputContainer{
    padding-top: 20vh;
}
