.buttonActiveContainer{
    display: flex;
    background-color: #78006d;
    min-width: 10vw;

    border-radius: 15px;
    border-top-right-radius: 0px ;
    border: none;
    margin-right: 10px;
    padding: 8px 10px;
    align-items: center;
    color: white
}
.buttonContainer{
    display: flex;
    background-color: #be018d;
    min-width: 10vw;

    border-radius: 15px;
    border-top-right-radius: 0px ;
    border: none;
    margin-right: 10px;
    padding: 8px 10px;
    align-items: center;
    color: white
}

.buttonTitleStyle{
    font-size: calc(0.7*(1vh + 1vw));
}